<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<section class="banner">
	<div class="banner-content">
		<div class="limiter animated fadeInLeft">
			<div class="container-login100">
				<div class="wrap-login100 p-t-50 p-b-90">

					<form class="login100-form validate-form flex-sb flex-w">

						<div class="box">
							<img src="../../../assets/img/logoupeu.png"
								style="height: 199px; width:180px; float:left; margin-left:53px;">
							<div class="form-head" style="margin-top:15px;">
								<p id="porfa">Por favor, identifíquese</p>
							</div>
							<div class="form-body">
								<input type="text" placeholder="Usuario" name="username" autocomplete="off" />
								<input type="Password" placeholder="Contraseña" name="pass" autocomplete="off" />
							</div>
							<a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Registrate</a>

							<div id="form-footer">
								<button type="button" (click)="iniciarsesion()">Iniciar Sesión</button>
							</div>

						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content" style="background-color: rgba(85, 2, 30, 0.6);">
			<div class="modal-header">
				<h2 class="modal-title" id="staticBackdropLabel" style="color: rgb(218, 216, 216);">Registrese en el sistema</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form class="row g-6">

					<div class="col-auto row align-items-start">

						<div class="col-auto">
							<label for="nombres" style="color: rgb(255, 255, 255);">Nombres</label>
							<input type="text" class="form-control" id="nombres" placeholder="Nombres" autocomplete="off">
						</div>

						<div class="col-auto">
							<label for="nombres" style="color: rgb(255, 255, 255);">Apellidos</label>
							<input type="text" class="form-control" id="nombres" placeholder="Apellidos" autocomplete="off">
						</div>

						<div class="col-auto">
							<label for="nombres" style="color: rgb(255, 255, 255);">Telefono</label>
							<input type="text" class="form-control" id="nombres" placeholder="telefono/celular" autocomplete="off">
						</div>

						<div class="col-auto">
							<label for="nombres" style="color: rgb(255, 255, 255);">Sexo</label>
							<input type="text" class="form-control" id="nombres" placeholder="Nombre completo" autocomplete="off">
						</div>

						<div class="col-auto">
							<label for="nombres" style="color: rgb(255, 255, 255);">Direccion de domicilio</label>
							<input type="text" class="form-control" id="nombres" placeholder="Domicilio" autocomplete="off">
						</div>

						<div class="col-auto">
							<label for="gmail" style="color: rgb(238, 238, 238);">Correo Electronico</label>
							<input type="email" class="form-control" autocomplete="off" id="gmail" placeholder="Gmail">
						</div>

						<div class="col-auto">
							<label for="dni" style="color: rgb(238, 238, 238);">DNI / Pasaporte</label>
							<input type="text" class="form-control" maxlength="8" autocomplete="off" id="dni" placeholder="DNI/Pasaporte">
						</div>

						<mat-form-field class="col-auto" style="background: white; width: 190px; height: 55px; margin: 6px; left: 8px;" appearance="fill" [color]="colorControl.value">
							<mat-label>Edad</mat-label>
							<input matInput type="number" placeholder="Ex. 12" [formControl]="fontSizeControl" min="10">
							<!-- <span matSuffix>px</span> -->
							<mat-error *ngIf="fontSizeControl.invalid">Min size: 10px</mat-error>
						</mat-form-field>

						<div class="col-auto">
							<label for="edad" style="color: rgb(238, 238, 238);">Parte posterior DNI</label>
							<input type="file" autocomplete="off" class="form-control" id="edad" placeholder="Edad">
						</div>

						<div class="col-auto">
							<label for="edad" style="color: rgb(238, 238, 238);">Parte inferior DNI</label>
							<input type="file" autocomplete="off" class="form-control" id="edad" placeholder="Edad">
						</div>

						
					</div>

				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary">Enviar solicitud</button>
			</div>
		</div>
	</div>
</div>