<!-- <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<section class="login-page">

		<form method="post" autocomplete="off">
			
			<div class="box">
				<div class="form-head" style="margin-top:7px;">
					<p id="porfa">Por favor, identifíquese</p>
				</div>
				<div class="form-body">
					<input type="text" placeholder="Usuario" name="username"/>
					<input type="Password" placeholder="Contraseña" name="pass" />
				</div>
				<div class="form-footer">
					<button type="submit">Iniciar Sesión</button>
				</div>
				

			</div>

		</form>

	</section>

</body> -->


<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<section class="banner">
	<div class="banner-content">
		<div class="limiter animated fadeInLeft">
			<div class="container-login100">
				<div class="wrap-login100 p-t-50 p-b-90">

					<form class="login100-form validate-form flex-sb flex-w">

						<div class="box">
							<img src="../../../assets/img/logoupeu.png" style="height: 190px; width:174px; float:left; margin-left:53px;">
							<div class="form-body">
								<input type="text" placeholder="Usuario" name="username" autocomplete="off"/>
								<input type="Password" placeholder="Contraseña" name="pass" autocomplete="off" />
							</div>
	
							<div class="form-head" style="margin-top:7px;">
								<p id="porfa">Por favor, identifíquese</p>
							</div>
	
							<div id="form-footer">
								<button type="submit" (click)="iniciarsesion()">Iniciar Sesión</button>
							</div>
							
						</div>
					</form>
				</div>
			</div>
		</div>


	</div>
</section>