<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<section class="banner">
	<div class="banner-content">
		<div class="limiter animated fadeInLeft">
			<div class="container-login100">
				<div class="wrap-login100 p-t-50 p-b-90">

					<form class="login100-form validate-form flex-sb flex-w">

						<div class="box">
							<img src="../../../assets/img/logoupeu.png"
								style="height: 199px; width:180px; float:left; margin-left:53px;">
							<div class="form-head" style="margin-top:15px;">
								<p id="porfa">Por favor, identifíquese</p>
							</div>
							<div class="form-body">
								<input type="text" placeholder="Usuario" name="username" autocomplete="off" />
								<input type="Password" placeholder="Contraseña" name="pass" autocomplete="off" />
							</div>
							<a href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Registrate</a>

							<div id="form-footer">
								<button type="button" (click)="iniciarsesion()">Iniciar Sesión</button>
							</div>

						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content" style="background-color: #771c37;">
			<div class="modal-header">
				<h2 class="modal-title" id="staticBackdropLabel" style="color: rgb(218, 216, 216);">Registro de Usuario</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" style="background-color: white;">
				

				

				<mat-grid-list cols="4" rowHeight="70px">
				<form class="row g-6">


                    <mat-grid-tile [colspan]="1" [rowspan]="1">
					    <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Nombres</mat-label>
                            <input matInput [(ngModel)]="persona.nombres"  name="nombres" >
                        </mat-form-field>

					</mat-grid-tile>


                    <mat-grid-tile [colspan]="1" [rowspan]="1">
					    <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Apellidos</mat-label>
                            <input matInput [(ngModel)]="persona.apellidos" name="apellidos" >
                        </mat-form-field>
					</mat-grid-tile>


                    <mat-grid-tile [colspan]="2" [rowspan]="1">
					    
				     	<div class="col-auto">
							<label for="edad" style="color: black;">Imagen del dni</label>
							<br>
							<input type="file" id="hola" (change)="mostrar($event)" required class="form-control" id="imagen" >
						</div>
						
                         
					</mat-grid-tile>


                   <mat-grid-tile [colspan]="1" [rowspan]="1">
					    <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Telefono</mat-label>
                            <input matInput ngModel name="telefono" [(ngModel)]="persona.telefono" pattern="^[0-9]+" maxlength="9" required>
                        </mat-form-field>
					</mat-grid-tile>

					<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field appearance="fill">
                        <mat-label>Sexo</mat-label>
                        <mat-select name="sexo" [(ngModel)]="persona.sexo">
                           <mat-option  value="M">
                            Hombre
                           </mat-option>
						   <mat-option  value="F">
                            Mujer
                           </mat-option>
                        </mat-select>
                    </mat-form-field>

					    
					</mat-grid-tile>

					<mat-grid-tile [colspan]="2" [rowspan]="3">
					     <div id="preview">
						   
						 </div>
					</mat-grid-tile>

                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field class="example-full-width" style="width: 90%;" appearance="fill">
                            <mat-label>Direccion de Domicilio</mat-label>
                            <input matInput ngModel required [(ngModel)]="persona.direccion" name="direccion">
                        </mat-form-field>
                    </mat-grid-tile>

					<mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>	Correo Electronico</mat-label>
                            <input matInput ngModel  name="email" [(ngModel)]="persona.correo" type="email" required>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile [colspan]="1" [rowspan]="1">
					    <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Dni</mat-label>
                            <input matInput ngModel name="dni" pattern="^[0-9]+" maxlength="8" [(ngModel)]="persona.dni"required>
                        </mat-form-field>
                    </mat-grid-tile>

					<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field appearance="fill">
                        <mat-label>Nacionalidad</mat-label>
                        <mat-select name="pais"  [(ngModel)]="persona.idpais">
                           <mat-option *ngFor="let pais of paises" value="{{pais.idpais}}">
                            {{pais.nombre}}
                           </mat-option>
                        </mat-select>
                    </mat-form-field>

					    
					</mat-grid-tile>


					
					 </form>
                </mat-grid-list>
              
			</div>
			<div class="modal-footer">
				<button  mat-raised-button type="reset" color="warn" data-bs-dismiss="modal" (click)="borrar()">Cancelar</button>&nbsp;&nbsp;
				<button mat-raised-button color="primary" [disabled]="!archivo" (click)="enviarsolicitud()">Enviar Solicitud</button>
			</div>
		
	</div>
</div>


