body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'RobotoCondensedRegular';
    font-size: 16px;
}

.full-width {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ShowBox {
    opacity: 1 !important;
    pointer-events: auto !important;
}

.formated-section {
    padding: 60px 0;
}

.font-oswald {
    font-family: 'OswaldRegular';
}



/*====== Login ==*/
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}


.banner {
    position: relative;
    width: 100%;
    height: calc(110.2vh - 77px);
    background-color: #F5F5F5;
    background-size: cover;
    background-position: center;
    transition: all .1s ease-out;
    background-image: url('../../../assets/img/banner-1.jpg');
    animation: banner 25s infinite linear;
}


/*fondo negro opaco*/

.banner-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 22, 40, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1 {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
}

a{
    color: white;
    font-size: 15px;
}
.banner-content a:hover {
    color: rgb(3, 105, 238);
}

@keyframes banner {
    0% {
        background-image: url('../../../assets/img/banner-1.jpg');
    }
    25% {
        background-image: url('../../../assets/img/banner-1.jpg');
    }
    26% {
        background-image: url('../../../assets/img/banner-2.jpg');
    }
    50% {
        background-image: url('../../../assets/img/banner-2.jpg');
    }
    51% {
        background-image: url('../../../assets/img/banner-3.jpg');
    }
    90% {
        background-image: url('../../../assets/img/banner-3.jpg');
    }
}



/*MY LOGIN*/
#porfa{
    margin-top: -10px;
    margin-left: 60px;
    color: white;
    font-family: sans-serif;
}
.form-body{
    display: flex;
    flex-direction: column;
    
}
.box{
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	width: 280px;
	z-index: 2;
}
.form-head h2{
    text-align: center;
    margin:10px 0px 20px;
    color:#ffffff;
}
.form-body input{
    height: 40px;
    margin-bottom: 20px;
    border:1px solid #ffffff;
    width: 100%;
    background-color: transparent;
    border-radius: 20px;
    text-align: center;
    color:#ffffff;
    transition:box-shadow .5s ease;
}
.form-body input:focus{
	box-shadow: 0px 0px 10px black;
}
.form-body input::placeholder{
	color:#ffffff;
}
.box #form-footer {
    text-align: center;

}
#form-footer button{

	height: 40px;
	border-radius: 20px;
	padding: 0px 50px;
	color:#ffffff;
	background-color: rgb(255, 169, 45);
	border:none;
	cursor: pointer;
	transition:box-shadow .5s ease;
}
#form-footer button{
	box-shadow: 0px 0px 10px black;
}

.mat-form-field {
    width: 80%;
  }