<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">Categorización Docente</h1>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button> -->
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-nav-list>
                <a [routerLink]="['pages/',nav.nombre | lowercase]" id="optionsSide" mat-list-item *ngFor="let nav of fillerNav" style="padding: 5px; margin-top: 8px;">
                    <!-- <mat-icon>{{nav.icon}}</mat-icon> -->
                    {{nav.nombre }}
                </a> 
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
	
    <!-- <div id="content">
        <div class="container-fluid" style="padding: 25px; background-color: rgb(87, 11, 21);">
            <router-outlet></router-outlet>
        </div>
    </div> -->
</div>


