<div class="body">
<h2>Asesorias y Dictaminaciones</h2>
<hr>

<mat-grid-list cols="6" rowHeight="70px">
				<form class="row g-6"  [formGroup]="form">


                    <mat-grid-tile  [colspan]="1" [rowspan]="1">
					    <mat-form-field class="example-full-width"  style="width: 90%;" appearance="fill">
                            <mat-label>Año</mat-label>
                            <input matInput formControlName="año"   name="nombres" >
                              <mat-icon matSuffix>calendar_today</mat-icon>
                        </mat-form-field>

					</mat-grid-tile>


                    <mat-grid-tile  [colspan]="1" [rowspan]="1">
					   <mat-form-field class="example-full-width" style="width: 90%;" appearance="fill">
                            <mat-label>Nivel del Jurado</mat-label>
                            <input matInput formControlName="nivel"   name="nombres" >
                              <mat-icon matSuffix>grade</mat-icon>
                        </mat-form-field>
					</mat-grid-tile>

	             <mat-grid-tile  [colspan]="3" [rowspan]="1">
                   <mat-form-field appearance="fill"  style="width: 90%;">
                           <mat-label>Titulo de la Tesis o Investigacion</mat-label>
                           <input matInput  formControlName="titulo" >
                           <mat-icon matSuffix>title</mat-icon>
                  </mat-form-field>
                  </mat-grid-tile>

                   	<mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field appearance="fill" style="width: 90%;">
                        <mat-label>Tipo</mat-label>
                        <mat-select name="idsubfactor" formControlName="idsubfactor">
                           <mat-option *ngFor="let subfactor of subfactores" [value]="subfactor.idsubfactor">
                            {{subfactor.nombre}}
                           </mat-option>
                        </mat-select>
                    </mat-form-field>
					</mat-grid-tile>
                   
                   

                  <mat-grid-tile  [colspan]="1" [rowspan]="1">
					   <mat-form-field class="example-full-width" style="width: 93%;" appearance="fill">
                            <mat-label>Autor </mat-label>
                            <input matInput formControlName="autor"   name="nombres" >
                          <mat-icon matSuffix>face</mat-icon>
                        </mat-form-field>
					</mat-grid-tile>

	            <mat-grid-tile [colspan]="1" [rowspan]="1">
					<mat-form-field appearance="fill" style="width: 90%;">
                        <mat-label>Especialidad</mat-label>
                        <mat-select formControlName="especialidad">
                           <mat-option  value="TESIS">
                            TESIS
                           </mat-option>
                             <mat-option  value="INVESTIGACION">
                            INVESTIGACION
                           </mat-option>
                             <mat-option  value="SEGUNDA ESPECIALIDAD">
                            SEGUNDA ESPECIALIDAD
                           </mat-option>
                        </mat-select>
                    </mat-form-field>
					</mat-grid-tile>
                     
                  <mat-grid-tile  [colspan]="1" [rowspan]="1">
					   <mat-form-field class="example-full-width" style="width: 90%;" appearance="fill">
                            <mat-label>Resolucion(*)</mat-label>
                            <input matInput formControlName="resolucion"   name="nombres" >
                              <mat-icon matSuffix>pin</mat-icon>
                        </mat-form-field>
					</mat-grid-tile>
				
               

				

 
             

                   
                    
                     <mat-grid-tile [colspan]="2" [rowspan]="1">
                         <div class="mb-3" style="width: 100%; display: inline-block; margin:5px">
                         
                          <input type="file" id="hola" formControlName="foto" (change)="mostrar($event)" placeholder="Evidencia" required class="form-control" >
                        </div>
                          <div class="mb-3" style="width: 5%; display: inline-block;margin:5px ">
                               <mat-icon matSuffix>upload</mat-icon>
                         
                        </div>
				     	
					</mat-grid-tile>

					
                    
                  
                      <mat-grid-tile [colspan]="1" [rowspan]="1">

					    <button mat-raised-button color="primary" (click)="enviar()">Enviar</button>
					</mat-grid-tile>


					 </form>
                </mat-grid-list>
  
  </div>