<div class="banner">
  <div class="banner-content">

    <div style="background: rgb(92, 31, 49); width: 30%; height: 100%; margin-left: 70%;">
      <div>
        <img src="" alt="">

      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-2 fondo" style="margin-top: -50%;">
      <div class="col">
        <div class="card" (click)="goCards()" style="height: 300px;">
          <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png"
            style="width: 50%; margin-left: 50px; margin-top: 50px;" class="card-img-top" alt="...">
          <div class="card-body" style="margin-top: 30px;">
            <h2 class="card-title">FORMACIÓN ACADEMICA PROFESIONAL</h2>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="height: 300px;">
          <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png"
            style="width: 50%; margin-left: 50px; margin-top: 50px;" class="card-img-top" alt="...">
          <div class="card-body" style="margin-top: 30px;">
            <h2 class="card-title">EXPERIENCIA LABORAL Y PROFESIONAL</h2>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="height: 300px;">
          <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png"
            style="width: 50%; margin-left: 50px; margin-top: 50px;" class="card-img-top" alt="...">
          <div class="card-body" style="margin-top: 30px;">
            <h2 class="card-title">CAPACIDAD DOCENTE</h2>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="height: 300px;">
          <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png"
            style="width: 50%; margin-left: 50px; margin-top: 50px;" class="card-img-top" alt="...">
          <div class="card-body" style="margin-top: 30px;">
            <h2 class="card-title">DESEMPEÑO DOCENTE</h2>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card" style="height: 300px;">
          <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png"
            style="width: 50%; margin-left: 50px; margin-top: 50px;" class="card-img-top" alt="...">
          <div class="card-body" style="margin-top: 30px;">
            <h2 class="card-title">CAPACITACIÓN PROFESIONAL</h2>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card" style="height: 300px;">
          <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png"
            style="width: 50%; margin-left: 50px; margin-top: 50px;" class="card-img-top" alt="...">
          <div class="card-body" style="margin-top: 30px;">
            <h2 class="card-title">INVESTIGACIÓN Y APORTE AL CONOCIMIENTO</h2>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="height: 300px;">
          <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png"
            style="width: 50%; margin-left: 50px; margin-top: 50px;" class="card-img-top" alt="...">
          <div class="card-body" style="margin-top: 30px;">
            <h2 class="card-title">VINCULACIÓN CON EL MEDIO</h2>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="height: 300px;">
          <img src="https://i.pinimg.com/originals/ef/cf/0e/efcf0e152c41112da48b619152043030.png"
            style="width: 50%; margin-left: 50px; margin-top: 50px;" class="card-img-top" alt="...">
          <div class="card-body" style="margin-top: 30px;">
            <h2 class="card-title">APORTES Y LOGROS</h2>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </div>
      </div>

    </div>
  </div>