





<table mat-table [dataSource]="personas" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="nombres">
    <th mat-header-cell *matHeaderCellDef> Nombres </th>
    <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
    <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="correo">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef> DNI </th>
    <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
  </ng-container>

  <ng-container matColumnDef="detalle">
    <th mat-header-cell *matHeaderCellDef> Detalle </th>
    <td mat-cell *matCellDef="let element"> <button mat-icon-button >
       <mat-icon  (click)="verdetalle(element)" data-bs-toggle="modal" href="#staticBackdrop" >open_in_new</mat-icon>
      </button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div class="modal-content" >
		
         <mat-tab-group>
              <mat-tab label="Detalle Cliente" id="tab1"> 


               <div style="padding:20px;width:100%;height:100%">
                	<mat-grid-list cols="5" rowHeight="70px">
            <mat-grid-tile [colspan]="1" [rowspan]=1>
             <mat-form-field   appearance="fill">
                  <mat-label>Nombres</mat-label>
                   <input  [(ngModel)]="detallepersona.nombres" class="inputs"   disabled   matInput>
              </mat-form-field>
           
            </mat-grid-tile>
           
           <mat-grid-tile [colspan]="1" [rowspan]=1>
           <mat-form-field  appearance="fill">
                  <mat-label>Apellidos</mat-label>
                   <input [(ngModel)]="detallepersona.apellidos"  disabled  class="inputs" matInput>
                </mat-form-field>
                </mat-grid-tile>

                 <mat-grid-tile [colspan]="3" [rowspan]=5 id="tab1">
            <img src="{{detallepersona.foto}}"   >
            
            
            </mat-grid-tile>
         <mat-grid-tile [colspan]="1" [rowspan]=1>
              <mat-form-field  appearance="fill">
                  <mat-label>Correo</mat-label>
                   <input [(ngModel)]="detallepersona.correo"   class="inputs"  disabled   matInput>
              </mat-form-field>
         </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]=1>
              <mat-form-field  appearance="fill">
                  <mat-label>Direccion</mat-label>
                   <input [(ngModel)]="detallepersona.direccion"   class="inputs"    disabled   matInput>
            </mat-form-field>
          </mat-grid-tile>

           <mat-grid-tile [colspan]="1" [rowspan]=1>
           <mat-form-field  appearance="fill">
                  <mat-label>Nro.DNI</mat-label>
                   <input [(ngModel)]="detallepersona.dni" class="inputs" disabled   matInput>
                </mat-form-field>
           </mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]=1>
           <mat-form-field  appearance="fill">
                  <mat-label>Telefono</mat-label>
                   <input [(ngModel)]="detallepersona.telefono"  class="inputs"   disabled   matInput>
              </mat-form-field>
           </mat-grid-tile>

             <mat-grid-tile [colspan]="1" [rowspan]=1>
           <mat-form-field  appearance="fill">
                  <mat-label>Sexo</mat-label>
                   <input [(ngModel)]="detallepersona.sexo"  class="inputs"   disabled   matInput>
              </mat-form-field>
           </mat-grid-tile>

           <mat-grid-tile [colspan]="1" [rowspan]=1>
                   <a href="{{detallepersona.foto}}" target="_blank" class="inputs">Ver imagen completa <mat-icon inline="true">open_in_new</mat-icon></a>
              
           </mat-grid-tile>

       

            


          </mat-grid-list>

          <div class="modal-footer">
				       <button type="button" class="btn btn-secondary" (click)="eliminardata()" data-bs-dismiss="modal">Cerrar</button>
		
		        	</div>

          </div> 
                  
          	
        </mat-tab>



              <mat-tab label="Generar Usuario"  style="padding: 50 px"> 

              <div style="padding:20px;width:100%;height:100%">
               <h4 class="modal-title" id="staticBackdropLabel" style="color: black">Docente : {{detallepersona.nombres + detallepersona.apellidos}}</h4>
               <hr>


                	<div>
                  	<mat-grid-list cols="4" rowHeight="70px">

                     <mat-grid-tile [colspan]="1" [rowspan]=1>
                        <mat-form-field  appearance="fill">
                     <mat-label>Estado del Contrato</mat-label>
                     <input [(ngModel)]="docente.estadocontrato"  class="inputs"    matInput>
                   </mat-form-field>
                    </mat-grid-tile>

                       <mat-grid-tile [colspan]="1"  [rowspan]=1>
                            <mat-form-field appearance="fill">
                                 <mat-label>Categoria</mat-label>
                               <mat-select class="inputs"  [(ngModel)]="docente.idcategoria">
                                  <mat-option *ngFor="let categoria of categorias" [value]="categoria.idcategoria">
                                    {{categoria.nombre}}
                                  </mat-option>
                               </mat-select>
                             </mat-form-field>
                        
                      
                      
                      </mat-grid-tile>
                      

                       <mat-grid-tile [colspan]="2" [rowspan]=1>
                            <mat-label>Estado de la Categoria: &nbsp;&nbsp;</mat-label><br>
 <mat-radio-group [(ngModel)]="docente.estadocat" aria-label="Select an option" (change)="mostrar()">
                               <mat-radio-button value="ps">Postula</mat-radio-button>&nbsp;
                                <mat-radio-button value="pe">Pertenece</mat-radio-button>
                        </mat-radio-group>
                      </mat-grid-tile>


                   </mat-grid-list>

                  </div> 
                    <h4 class="modal-title" id="staticBackdropLabel" style="color: black">Credenciales Usuario</h4>
                          <hr>
                   	<mat-grid-list cols="4" rowHeight="70px">
                     <mat-grid-tile [colspan]="1" [rowspan]=1>
                        <mat-form-field  appearance="fill">
                     <mat-label>Usuario</mat-label>
                     <input [(ngModel)]="usuario.usuario"  class="inputs"  disabled   matInput>
                   </mat-form-field>
                    </mat-grid-tile>


                    <mat-grid-tile [colspan]="1" [rowspan]=1>
                        <mat-form-field  appearance="fill">
                     <mat-label>Password</mat-label>
                     <input [(ngModel)]="usuario.password"  class="inputs"   disabled matInput>
                   </mat-form-field>
                    </mat-grid-tile>


                    <mat-grid-tile [colspan]="1" [rowspan]=1>
                       <button mat-raised-button  (click)="generaruser()">Generar</button>
                    </mat-grid-tile>
                      <mat-grid-tile [colspan]="1" [rowspan]=1>
                      
                    </mat-grid-tile>


                    </mat-grid-list>
                    
                     <div class="modal-footer">
				     
                <button mat-raised-button color="warn">Eliminar</button>&nbsp;&nbsp;
                   <button mat-raised-button (click)="crearusuario()" color="primary">Crear Usuario</button>
		
		        	</div>
             

                	<div>

                  </div> 
              </div>
              
            
              
              
              
              
              
              
               </mat-tab>
          
         </mat-tab-group>
        
		
        	

			
		
		
			
		
		</div>
	</div>
</div>






